* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.app-container {
  background: #FFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 500px;
}

.form-group div {
  display: flex;
  justify-content: space-between;
}

.form-group div div {
  flex: 1;
  margin-right: 2%;
}

.form-group div div:last-child {
  margin-right: 0;
}

.form-group label {
  color: #111;
  font-weight: 500;
}

.form-group input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: 1px solid #444;
  width: 100%;
}

.form-group input::placeholder {
  color: #999;
}

.form-group .input-error {
  outline: 1px solid rgb(255, 72, 72);
}

.form-group .error-message {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  margin-top: 8px;
}

.form-group button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #111;
  background-color: #49a1b8;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 500ms ease;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.modal-buttons .leave {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
  width: 70px;
  margin-right: 10px;
}

.modal-buttons .stay {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #49a1b8;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
  width: 70px;
  margin-right: 10px;
}

.ReactModal__Content {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: fit-content;
  height: fit-content;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.label-expiry {
  width: 20%;
}

.input-expiry {
  max-width: 80%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
  height: 50%;
}

.user-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-details {
  margin: 10px;
}
.user-details {
  padding: 15px;
  margin: 20px;
}

.user-information {
  margin-left: 60%;
  display: absolute;
  align-items: start;
  width: 100%;
}

.round-button {
  border-radius: 50%;
  padding: 10px 20px;
  margin-left: 10px;
}

.search-group {
  display: flex;
  align-items: center;
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
}

.user-list-table th, .user-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.user-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.user-list-table tr:hover {background-color: #f5f5f5;}
